.login-page {
  background: url('../../assets/img/blue globe.gif') no-repeat center center/cover;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 65rem minmax(35rem, min-content);
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 4rem;
  grid-row: 2 / span 1;
  grid-column: center-start / center-end;
  margin-top: 0rem;

  &__showcase {

    width: 100%;
    height: 100%;
    margin-top: 15rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @include respond(tab-land) {
    grid-template-columns: minmax(35rem, min-content);
    &__showcase {
      display: none;
    }
  }

  @include respond(phone) {
    grid-template-columns: 100%;
    padding: 0 4rem;
  }
}

.login-card-container {
  & > :not(:last-child) {
    margin-top: 5rem;
    margin-bottom: 1rem;
    background: rgb(159,156,218);
    background: linear-gradient(90deg, #47daf8 3%, #47daf8 52%, #47daf8 100%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.0px );
    -webkit-backdrop-filter: blur( 2.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
}
